/* Add CSS styles for your web site here and use them in index.html. */
html, body {
    height:auto;
    width: 100%;
    margin: 0;   
}

/* Create background colors */
body {
    background: #86a38b;
    color: white;
    font-family: sans-serif;
}

/* Box model on Navigation */
.navigation {
    width: auto;
    padding: 10px;
    border: 2px solid;
    text-align: center;
    box-sizing: border-box;
}

/* Box model on Footer */
.foot {
    width: auto;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}